@font-face {
  font-family: "khulabold";
  src: url("./css/fonts/khula-bold-webfont.woff2") format("woff2"),
    url("./css/fonts/khula-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "khulaextrabold";
  src: url("./css/fonts/khula-extrabold-webfont.woff2") format("woff2"),
    url("./css/fonts/khula-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "khulalight";
  src: url("./css/fonts/khula-light-webfont.woff2") format("woff2"),
    url("./css/fonts/khula-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "khularegular";
  src: url("./css/fonts/khula-regular-webfont.woff2") format("woff2"),
    url("./css/fonts/khula-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "khulasemibold";
  src: url("./css/fonts/khula-semibold-webfont.woff2") format("woff2"),
    url("./css/fonts/khula-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunitoblack';
  src: url('./css/fonts/nunito-black-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoblack_italic';
  src: url('./css/fonts/nunito-blackitalic-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitobold';
  src: url('./css/fonts/nunito-bold-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitobold_italic';
  src: url('./css/fonts/nunito-bolditalic-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoextrabold';
  src: url('./css/fonts/nunito-extrabold-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoextrabold_italic';
  src: url('./css/fonts/nunito-extrabolditalic-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoextralight';
  src: url('./css/fonts/nunito-extralight-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoextralight_italic';
  src: url('./css/fonts/nunito-extralightitalic-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-extralightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoitalic';
  src: url('./css/fonts/nunito-italic-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitolight';
  src: url('./css/fonts/nunito-light-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitolight_italic';
  src: url('./css/fonts/nunito-lightitalic-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nunitoregular';
  src: url('./css/fonts/nunito-regular-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'nunitosemibold';
  src: url('./css/fonts/nunito-semibold-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nunitosemibold_italic';
  src: url('./css/fonts/nunito-semibolditalic-webfont.woff2') format('woff2'),
       url('./css/fonts/nunito-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  scroll-behavior: smooth;
}
#inner_container {
  height: 102%;
  padding-right: 15px;
  overflow: hidden;
}
#outer_container {
  overflow: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#inner_container::-webkit-scrollbar {
  display: none;
}
#outer_container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#outer_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#logo_img {
  max-width: 100%;
  max-height: 100%;
}

#logo_container {
  position: absolute;
  display: block;
}

#insta_logo {
  max-height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "khulalight";
}
#scroll {
  max-width: 10%;
  max-height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1rem;
  font-family: "khulalight";
}
#scroll_up {
  max-width: 10%;
  max-height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: lighter;
  text-align: center;
  font-size: 1rem;
}
#scroll_icon {
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 120px;
}

.mail {
  position: relative;
  padding-bottom: 2em;
  color: black;
  text-decoration: none;
  text-align: center;
  width: fit-content;
}

/* .scrollUp {
  position: relative;
  padding-top: 5em;

} */
.scrollDown {
  position: relative;
  padding-bottom: 5em;
}
.bottom {
  position: absolute;
}

.centered {
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 10%;
}

#nav-bar {
  overflow: hidden;
  background-color: transparent;
}

.menu-toggle {
  position: absolute;
  width: 15%;
  padding-top: 2%;
  z-index: 9;
}

/* .menu-toggle #menu {
  display: none;
  position: relative;
  margin-top: 30%;
  background: rgba(255, 255, 255, 0.9);
} */

.menu-toggle a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  display: block;
  list-style: none;
  padding-left: 50%;
  font-family: "nunitoblack";
}

.menu-toggle a.icon {
  background: transparent;
  display: block;
  color: black;
  position: absolute;
  padding-left: 50%;
  padding-top: 5%;
}

.menu-toggle a:hover {
  cursor: pointer;
  font-weight: bold;
}

#hamburger {
  width: fit-content;
}

hr {
  width: 2.5em;
  text-align: left;
  size: 5pt;
  border: 0.6px solid black;
  margin-inline-start: 15%;
}

/*inspiration css*/
#icon_right {
  max-height: 100%;
  display: block;
  margin-left: auto;
  position: absolute;

  right: 8%;
  text-align: right;
  font-size: 120px;
}
#icon_left {
  max-height: 100%;
  display: block;
  margin-right: auto;
  position: absolute;
  left: 7%;
  text-align: left;
  font-size: 120px;
}
.center-right {
  float: right;
  padding-top: 10%;
}
.center-left {
  float: left;
  padding-top: 10%;
}

/* #elementToMove {
  right: 0%;
  top: 0;
  bottom:5%;
 
  position: absolute;
  -webkit-transition: bottom 1s ease;
  transition: bottom 1s ease;

} */
#elementToMoveLeft {
  right: 0;
  bottom: 5%;
  position: absolute;
  -webkit-transition: right 2s ease;
  transition: right 2s ease;
  display: block;
}
.mySlides.fade {
  position: absolute;
  top:0;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  width: 100%;
  height: 100%;
}
.inspiration_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopping-bag {
  position: absolute;
  color: black;
  padding-top: 3%;
  padding-left: 90%;
  display: block;
  width: fit-content;
  z-index: 8;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

#choose-size {
  padding-top: 5%;
}
#choose-size p {
  text-align: center;
  font-family: "nunitolight";
}

#choose-size span {
  margin: 15px;
  font-size: 35px;
  /* font-weight: bold; */
  font-family: "nunitoextrabold";

}

#tableposter {
  margin-top: 3%;
  margin-left: 40%;
  float: left;
  border: none;
  display: block;
  border-collapse: collapse;
}
#posterfooter{
  margin-left: 41.6%;
  margin-top: 20%;
  padding-top: 5%;
 
  font-size: 25px;
  font-family: "nunitolight";


}


#choosecolor{
  top: 33%;
  right: 10%;
  position: absolute;
  margin-bottom: 5%;
  margin-right: 10%;
  float: right;
  font-family: "nunitolight";

}
#colourtable {
  margin-top: 10%;
  margin-right: 8%;
  float: right;
  border: none;
  display: block;
  /* border-collapse: collapse; */
}
#chooseletter{
  top: 55%;
  right: 7.65%;
  position: absolute;
  margin-bottom: 5%;
  margin-right: 9%;
  float: right;
  font-family: "nunitolight";

}
#done_button{
  top: 60%;
  right: 11%;
  position: absolute;
  margin-bottom: 5%;
  margin-right: 9%;
  float: right;
  font-family: "nunitoblack";
}

#tableposter td,
tr {
  padding: 0;
  cursor: pointer;
}
#tablealfabet td,
tr {
  padding: 1em;
}

#tablealfabet td :hover {
  cursor: pointer;
}

#tableposter img {
  width: 8em;
  display: block;
}
#colourtable img {
  width: 8em;
  display: block;
}

#tablealfabet {
  margin-top: 2%;
  float: left;
  border: none;
  display: block;
  border-collapse: collapse;
  font-family: "nunitobold";
  font-size: 110%;
}

#write_name {
  margin-left: 10%;
  font-weight: bold;
  font-size: 120%;
  font-family: "nunitobold";
  width: fit-content;
  position: absolute ;
}

#write_name p,
input {
  /* font-size: 200%; */
  margin-left: 1em;
  outline: 0;
  border-width: 0 0 2px;
  background-color: transparent;
  font-family: "nunitoextrabold";
}

@media only screen and (min-device-width: 2160px) {
  .mail {
    padding-bottom: 5em;
  }
  #tableposter {
    margin-right: 42.5%;
    margin-top: 3%;
    margin-left: 42.5%;
  }
  #tableposter img {
    width: 8em;
    display: block;
  }
  .mySlides.fade {
    position: absolute;
    top:0;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    width: 100%;
    height: 100%;
  }
  .inspiration_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #colourtable {
    margin-top: -15%;
    margin-right: 11%;
    float: right;
    border: none;
    display: block;
    /* border-collapse: collapse; */
  }
} 


@media only screen and (max-device-width: 1920px) {
  .mail {
    padding-bottom: 3em;
  }
  #chooseletter{
    top: 65.5%;
    right: 6.65%;

  }

  #colourtable {
    margin-top: -23.5%;
    margin-right: 8%;
    
    /* border-collapse: collapse; */
  }
  #posterfooter{
    margin-left: 38.5%;
    margin-top: 28%;
    padding-top: 5%;
   
    /* font-size: 25px; */
    /* font-family: "nunitolight"; */
  
  
  }
  #choosecolor{
    top: 45%;
    right: 10%;

    /* margin-bottom: 10%; */
    margin-right: 10%;
   
  
  }
  
  
  #done_button{
    top: 70%;
    right: 10.5%;
  
  }

  .fas{
    size: 1em;
  }

}
@media (-webkit-min-device-pixel-ratio: 1.1) {
  .mail {
    padding-bottom: 1.5em;
  }
  #tableposter img {
    width: 4.5em;
  }
  #tablealfabet td,
  tr {
    padding: 0.8em;
  }
  #tablealfabet {
    font-size: 100%;
  }
  #write_name {
    font-size: 100%;
  }
}

.radiowrapper input[type="radio"] {
  visibility: hidden;
  display: none;
  width: 0;
}

.radiowrapper label {
  cursor: pointer;
  font-family: "khulaextrabold";
}

.radiowrapper label:hover {
  font-weight: bold;
}

.radiowrapper input[type="radio"]:checked + label {
  border-radius: 20px;
  border-color: #c0c0c0;
  background-color: #c0c0c0;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.circle {
  border-radius: 50px;
  border-color: #c0c0c0;
  background-color: #c0c0c0;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* #next_button {
  margin-left: 1em;
  background-color: rgb(168, 168, 168);

  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40%;
  cursor: pointer;
} */
#tableposter td {
  pointer-events: auto;
}
img {
  pointer-events: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


button.mbtn {
  padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:#c0c0c0;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
  font-family: "nunitoblack";
}

